body {
   background-color: lightblue;
   border-width: 3px;
   border-color: black;
   border-style: dotted;
}

/*<-- Hyperlink Colors -->*/
a {
   color: rgb(133, 12, 52);
}

a:visited {
   color: rgb(133, 12, 52);
}

a:hover {
   color: red;
}

a:active {
   color: darkred;
}
